html {
  background-color: #0b0c10;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h6,
p, .letter {
  color: #c5c6c7;

}

h5 {
  color: #45a29e;
}

#root {
  background-color: #0b0c10;
}

.navbar {
  background-color: #15171f !important;
}

.card,
.card-body,
.details {
  background-color: #1f2833 !important;
}

.card {
  border: none;
  text-align: center;
}
